<div class="loader">
	<div class="loader_inner"></div>
</div>

	<header class="main_head main_color_bg" data-parallax="scroll" data-image-src="images/bg.jpg" data-z-index="1" data-position="top center">

	<div class="top_wrapper">
		<img class="logo" src="./images/LogoFinal.png" alt="">

		<div class="top_descr">
			<div class="top_centered">
				<div class="top_text">
					<h1><span>Timothy Dries</span></h1>
					<p>3D Environment Artist / Prop Artist</p>
				</div>
			</div>
		</div>
	</div>
</header>
