

@font-face {
	font-family: 'clarkemedium';
	src: url('../fonts/clarke/clarke_medium_v3-webfont.eot');
	src: url('../fonts/clarke/clarke_medium_v3-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/clarke/clarke_medium_v3-webfont.woff') format('woff'),
		 url('../fonts/clarke/clarke_medium_v3-webfont.ttf') format('truetype'),
		 url('../fonts/clarke/clarke_medium_v3-webfont.svg#clarkemedium') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'clarkeblack_-_oblique';
	src: url('../fonts/clarke/clarke_black-oblique_v3-webfont.eot');
	src: url('../fonts/clarke/clarke_black-oblique_v3-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/clarke/clarke_black-oblique_v3-webfont.woff') format('woff'),
		 url('../fonts/clarke/clarke_black-oblique_v3-webfont.ttf') format('truetype'),
		 url('../fonts/clarke/clarke_black-oblique_v3-webfont.svg#clarkeblack_-_oblique') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'clarkeoblique';
	src: url('../fonts/clarke/clarke_regular-oblique_v3-webfont.eot');
	src: url('../fonts/clarke/clarke_regular-oblique_v3-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/clarke/clarke_regular-oblique_v3-webfont.woff') format('woff'),
		 url('../fonts/clarke/clarke_regular-oblique_v3-webfont.ttf') format('truetype'),
		 url('../fonts/clarke/clarke_regular-oblique_v3-webfont.svg#clarkeoblique') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'clarkeregular';
	src: url('../fonts/clarke/larke_regular_v3-webfont.eot');
	src: url('../fonts/clarke/clarke_regular_v3-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/clarke/clarke_regular_v3-webfont.woff') format('woff'),
		 url('../fonts/clarke/clarke_regular_v3-webfont.ttf') format('truetype'),
		 url('../fonts/clarke/clarke_regular_v3-webfont.svg#clarkeregular') format('svg');
	font-weight: normal;
	font-style: normal;

}





@font-face {
	font-family: 'clarkemedium_-_oblique';
	src: url('../fonts/clarke/clarke_medium-oblique_v3-webfont.eot');
	src: url('../fonts/clarke/clarke_medium-oblique_v3-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/clarke/clarke_medium-oblique_v3-webfont.woff') format('woff'),
		 url('../fonts/clarke/clarke_medium-oblique_v3-webfont.ttf') format('truetype'),
		 url('../fonts/clarke/clarke_medium-oblique_v3-webfont.svg#clarkemedium_-_oblique') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'clarkeblack';
	src: url('../fonts/clarke/clarke_black_v3-webfont.eot');
	src: url('../fonts/clarke/clarke_black_v3-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/clarke/clarke_black_v3-webfont.woff') format('woff'),
		 url('../fonts/clarke/clarke_black_v3-webfont.ttf') format('truetype'),
		 url('../fonts/clarke/clarke_black_v3-webfont.svg#clarkeblack') format('svg');
	font-weight: normal;
	font-style: normal;

}
